<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solestride</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="http://localhost:8080/dashboard"><</a>
        <p th:text="${requisicao.getId()}" class="title">DASHBOARD</p>
        <button class="bell"><i class="fa fa-bell" style="font-size:24px"></i></button>
    </header>
    <section class="requisicaoDetalhes">
        <div>
            <p class="nomeProdutoRequisicao" th:text="${requisicao.getProduto().getNome()}"></p>
            <p class="descricaoProduto" th:text="${requisicao.getProduto().getDescricao()}"></p>
            <p class="quantidadeProduto" th:text="${'quantidade: ' + requisicao.getQuantidade()}"></p>
            <p class="valorProduto" th:text="${'R$ ' + requisicao.getProduto().getValor()}"></p>
        </div>
        <p class="valorTotal" th:text="${'R$ ' + requisicao.getValorTotal()}"></p>
        <a th:href="${'http://localhost:8080/dashboard/fornecedor_requisicao/' + requisicao.getProduto().getFornecedor().getId()}" class="fornecedorRequisicao" th:text="${requisicao.getProduto().getFornecedor().getNome()}"></a>
        <p class="dataRequisicao" th:text="${requisicao.getData()}"></p>
    </section>
</body>
</html>