body{
    margin: 0;
    font-family: "Arial";
}

.homeBody{
    background-color: black;
}

header{
    background-color: #E8AC71;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: white;
}

header button{
    border: none;
    background-color: #E8AC71;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.produto{
    border-bottom: 2px #BBBBBB solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.stausId{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nomeProduto{
    color: #BBBBBB;
}

.idProduto{
    color: #78C800;
}

.title{
    font-size: 20px;
}

.bolinha{
    background-color: #FFBE00;
    height: 6px;
    width: 6px;
    border-radius: 100px;
    margin: 0 12px 0 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 34px;
    margin: 20px 0 20px calc(50% - 250px);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 250px;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 250px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #E8AC71;
}

input:focus + .slider {
    box-shadow: 0 0 1px #E8AC71;
}

input:checked + .slider:before {
    -webkit-transform: translateX(240px);
    -ms-transform: translateX(240px);
    transform: translateX(240px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.slider.round:before {
    border-radius: 12px;
}