body{
    margin: 0;
    font-family: "Arial";
}

.homeBody{
    background-color: black;
    margin: 0;
}

.requisicaoDetalhes{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}

.nomeProdutoRequisicao{
    font-size: 24px;
}

span, .nomeProdutoRequisicao, .emailFornecedor{
    color: orange;
}

.homeBody a{
    text-decoration: none;
    background-color: orange;
    padding: 10px 150px;
    align-items: center;
    color: white;
    border-radius: 12px;
    border: none;
}

.homeBody h1{
    color: white;
    margin-bottom: 80px;
}

main{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 100px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

footer{
    color: white;
    width: 400px;
    margin: 0 auto;
}

header{
    background-color: #E8AC71;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: white;
}

header a, header button{
    border: none;
    text-decoration: none;
    background-color: #E8AC71;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.requisicao{
    border-bottom: 2px #BBBBBB solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    text-decoration: none;
}

.stausId{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.nomeProduto, .descricaoProduto, .dataRequisicao, .quantidadeProduto, .cnpjFornecedor{
    color: #BBBBBB;
}

.fornecedor{
    margin-left: 20px;
}

.idRequisicao, .valorTotal{
    color: #78C800;
}

.fornecedorRequisicao{
    background-color: orange;
    color: white;
    height: 25px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    padding: 4px 8px 0 8px;
}

.title, .valorTotal, .emailFornecedor{
    font-size: 20px;
}

.bolinha{
    background-color: #FFBE00;
    height: 6px;
    width: 6px;
    border-radius: 100px;
    margin: 0 12px 0 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 34px;
    margin: 20px 0 20px calc(50% - 250px);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 250px;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 250px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #E8AC71;
}

input:focus + .slider {
    box-shadow: 0 0 1px #E8AC71;
}

input:checked + .slider:before {
    -webkit-transform: translateX(240px);
    -ms-transform: translateX(240px);
    transform: translateX(240px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.slider.round:before {
    border-radius: 12px;
}