<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solestride</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="http://localhost:8080"><</a>
        <p class="title">DASHBOARD</p>
        <button class="bell"><i class="fa fa-bell" style="font-size:24px"></i></button>
    </header>
    <section>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round">
                <p class="textCheckBox">Pendentes</p>
                <p class="textCheckBox">Concluidas</p>
            </span>
        </label>
        <a th:href="${'http://localhost:8080/dashboard/requisicao/' + requisicao.getId()}" class="requisicao" th:each="requisicao : ${requisicoes}">
            <div class="stausId">
                <div class="bolinha"></div>
                <p class="idRequisicao" th:text="${requisicao.getId()}"></p>
                <p class="nomeProduto" th:text="${requisicao.getProduto().getNome()}"></p>
            </div>
            <p class="valorTotal" th:text="${'R$ ' + requisicao.getValorTotal()}"></p>
        </a>
    </section>
</body>
</html>