<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="homeBody">
    <main>
        <img src="/img/solestrideLogo.png">
        <h1>Bem Vindo!</h1>
        <a href="dashboard">Entrar</a>
    </main>
    <footer>
        <p>Ao continuar, Você concorda com os <span>Termos de Uso</span> e <span>Políticas de Privacidade Solestride</span></p>
    </footer>
</body>
</html>